@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,700&family=Oswald:wght@300;400;600&display=swap');

body {
  font-family: 'Oswald', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}
p {
  font-weight: 300;
  line-height: 1.5;
}
.board {
  width: 300px;
  box-sizing: border-box;
  margin: 0 auto;
}
